{{- if and (eq .Values.kind "Deployment") .Values.pdb.create -}}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "aws-ec2-runtime-checker.fullname" . }}
  labels:
    {{- include "aws-ec2-runtime-checker.labels" . | nindent 4 }}
spec:
  {{- if .Values.pdb.minAvailable }}
  minAvailable: {{ .Values.pdb.minAvailable }}
  {{- end }}
  {{- if .Values.pdb.maxUnavailable }}
  maxUnavailable: {{ .Values.pdb.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "aws-ec2-runtime-checker.selectorLabels" . | nindent 6 }}
{{- end }}
