name: Release Helm Chart

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    # Depending on default permission settings for your org, you may need to add permissions
    permissions:
      contents: write  # Required to create releases and push to gh-pages branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: charts
          packages_with_index: true  # Upload chart packages directly into publishing branch
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
